/* Write your CSS here */

.details {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.balance-card {
  background-color: #ecfccb;
  border: 2px solid #84cc16;
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.income-card {
  background-color: #cffafe;
  border: 2px solid #06b6d4;
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.expenses-card {
  background-color: #ede9fe;
  border: 2px solid #7c3aed;
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.balance-size {
  width: 80px;
  margin-right: 20px;
  margin-left: 15px;
}

.balance-word {
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: bold;
}

.amount {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
